services:
  db:
    image: postgres:latest
    container_name: booker-db
    
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}

    ports:
      - '5432:5432'

    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: booker-api

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

    ports:
      - '8080:8080'

    depends_on:
      - db

volumes:
  db_data: