spring:
  config:
    import: optional:file:.env[.properties]

  application:
    name: booker

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/booker}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    hibernate:
      ddl-auto: validate

    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:db/data.sql

  flyway:
    enabled: false

logging:
  level:
    root: ERROR

# Configurações do Supabase Storage
supabase:
  project-id: ${SUPABASE_PROJECT_ID}
  api-key: ${SUPABASE_API_KEY}

storage:
  bucket: ${STORAGE_BUCKET}